name: build

on:
  push:
    branches: [ master ]
    paths-ignore:
      # Do not run the pipeline if only Markdown files changed
      - '**.md'
      - '**kubescape_sneeffer_Daemonset.yaml'
jobs:
  test:
    name: Create cross-platform release build, tag and upload binaries 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: go build -v ./...
  tag:
    name: Create tag
    runs-on: ubuntu-latest
    needs: test
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Create a tag
        id: create_tag
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v0.0.${{ github.run_number }}
          release_name: Release v0.0.${{ github.run_number }}
          draft: false
          prerelease: false
  build-docker:
    name: Build docker container, tag and upload to registry
    needs: tag
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      packages: write
      contents: read

    steps:
      - uses: actions/checkout@v3

      - name: Set image version
        id: image-version
        run: echo '::set-output name=IMAGE_VERSION::v0.0.${{ github.run_number }}'

      - name: Set userspace image name
        id: image-name-userspace
        run: echo '::set-output name=IMAGE_NAME::quay.io/${{ github.repository_owner }}/sneeffer'
      
      - name: Set kernelspace image name
        id: image-name-kernelspace
        run: echo '::set-output name=IMAGE_NAME::quay.io/${{ github.repository_owner }}/sneeffer-kernel'
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Quay.io
        env: # Or as an environment variable
          QUAY_PASSWORD: ${{ secrets.QUAYIO_REGISTRY_PASSWORD }}
          QUAY_USERNAME: ${{ secrets.QUAYIO_REGISTRY_USERNAME }}
        run: docker login -u="${QUAY_USERNAME}" -p="${QUAY_PASSWORD}" quay.io

      - name: Build the kernel space Docker image
        
        run: docker buildx build . --file ./kernel/Dockerfile_build_kernel_obj --tag ${{ steps.image-name-kernelspace.outputs.IMAGE_NAME }}:${{ steps.image-version.outputs.IMAGE_VERSION }} --tag ${{ steps.image-name-kernelspace.outputs.IMAGE_NAME }}:latest --build-arg image_version=${{ steps.image-version.outputs.IMAGE_VERSION }} --push

      - name: Build the userspace Docker image

        run: docker buildx build . --file ./Dockerfile --tag ${{ steps.image-name-userspace.outputs.IMAGE_NAME }}:${{ steps.image-version.outputs.IMAGE_VERSION }} --tag ${{ steps.image-name-userspace.outputs.IMAGE_NAME }}:latest --build-arg image_version=${{ steps.image-version.outputs.IMAGE_VERSION }} --push

      

